<ul class="sidebar-nav list-group">

  {% if user.is_authenticated %}
    <a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'phyrmacy:account-detail' pk=user.id %}"><strong class="color">User:</strong> {{ user.username }}</a>
    <a class="list-group-item list-group-item-action list-group-item-danger" href="{% url 'logout' %}">Logout</a>
  {% else %}
    <a class="list-group-item list-group-item-action list-group-item-success" href="{% url 'login' %}">Login</a>
  {% endif %}

  <br>
  <a class="list-group-item list-group-item-action list-group-item-info" href="{% url 'phyrmacy:index' %}">Home page</a>
  <a class="list-group-item list-group-item-action list-group-item-info" href="{% url 'phyrmacy:manufacturer-list' %}">Manufacturers</a>
  <a class="list-group-item list-group-item-action list-group-item-info" href="{% url 'phyrmacy:medicine-list' %}">Medicine</a>
  <a class="list-group-item list-group-item-action list-group-item-info" href="{% url 'phyrmacy:account-list' %}">Accounts</a>
</ul>
