{% extends 'base.html' %}
{% block content %}
  <h1>
    Medicines
    {% if user in medicine.departments.all %}
      <a href="{% url 'pharmacy:link-add' pk=medicine.id %}" class="btn btn-danger link-to-page btn-sm">Delete me from this medicine</a>
    {% else %}
      <a href="{% url 'pharmacy:link-add' pk=medicine.id %}" class="btn btn-success link-to-page btn-sm">Assign me to this medicine</a>
    {% endif %}
  </h1>
  <h4>Name: {{ medicine.name }}</h4>
  <h4>Country: {{ medicine.manufacturer.country }}</h4>
  <h4>Count: {{ medicine.amount_medicine }}</h4>

  <br>

  <div class="sm-3">
    <h4>LIST OF DEPARTMENTS:</h4>
    {% for department in medicine.department.all %}
      <hr>
      <p class="text-muted">
        <strong>Name pharmacy:</strong>
        <a href="{% url 'pharmacy:department-detail' pk=department.id %}">{{ department.name_pharmacy }}</a>
      <br><strong>Address:</strong>
      {{ department.address }}
      <br><strong>Phone:</strong>
      {{ department.phone }}
      <br><strong>Time work:</strong>
      {{ department.time_work }}
      </p>
      {% empty %}
        <p>No departments!</p>
    {% endfor %}
  </div>
  <a href="{% url 'pharmacy:medicine-update' pk=medicine.id %}" class="btn btn-secondary btn-sm">Update</a>
  <a href="{% url 'pharmacy:medicine-delete' pk=medicine.id %}" class="btn btn-danger btn-sm">🗑️</a>

{% endblock %}